<div id="book-header">
  <%= image_tag @book.cover.url(:medium), :class => 'book-cover' %>
  <h1><%= link_to @book.title + ' : '  + @book.subtitle, @book %></h1>
  <span class="book-author"><%= @book.author %></span><br />
  <span class="book-isbns"><%= @book.isbn10 %> / <%= @book.isbn13 %></span><br />
  <%= link_to 'Edit Book Details', edit_book_path(@book) %>
</div>

<h2 style="clear:left">Chapters</h2>
<ul>
<% @book.chapters.each do |chapter| %>
  <li><%= link_to chapter.title, book_chapter_path(@book, chapter) %> Cards: <%= chapter.cards.length %></li>
<% end %>
</ul>
<a href="#" id="add_new_chapter">Add a new Chapter</a>
<div id="new_chapter_form">
  <%= render "chapters/form" %> 
</div>
