<div id="book-header">
  <%= image_tag @book.cover.url(:medium), :class => 'book-cover' %>
  <h1><%= link_to @book.title + ' : '  + @book.subtitle, @book %></h1>
  Author: <span class="book-author"><%= @book.author %></span><br />
  ISBN: <span class="book-isbns"><%= @book.isbn10 %> / <%= @book.isbn13 %></span><br />
  <%= link_to 'Edit Book Details', edit_book_path(@book), :class => 'edit' %>
</div>

<h2 style="clear:left">Chapters</h2>
<!--<a href="#" id="reorder_chapters">Reorder</a>-->
<ul id="chapters">
<% @book.chapters.each do |chapter| %>
  <li><%= link_to chapter.title, book_chapter_path(@book, chapter) %> Cards: <%= chapter.cards.length %></li>
<% end %>
</ul>
<a href="#" id="add_new_chapter">Add a new Chapter</a>
<div id="new_chapter_form" title="Add new chapter">
  <%= render "chapters/form" %> 
</div>

<script>
$(document).ready(function(){
  $('#new_chapter_form').dialog({ autoOpen: false, modal: true });
  $('#add_new_chapter').click(function(){
    $('#new_chapter_form').dialog('open');
		return false;
  });
  $('#reorder_chapters').click(function(){
    $('#chapters').sortable();
		return false;
  });
});
</script>