<table>
  <tr>
    <td>
      <img src="/images/book-cover.jpg" width="100" />
    </td>
    <td>
      <span class="book-title"><%= @book.title %>:</span> <span class="book-subtitle"><%= @book.subtitle %></span><br />
      <span class="book-author"><%= @book.author %></span><br />
      <span class="book-isbns"><%= @book.isbn10 %> / <%= @book.isbn13 %></span>
    </td>
  </tr>
</table>

<p>
  
</p>

<h2>Chapters</h2>
<ul>
<% @book.chapters.each do |chapter| %>
<li><%= chapter.title %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
