<h1>History</h1>

  <% @card_versions.each do |card_version| %>
			
		<% if (card_version.event == 'create') %>
		
			<div class="history_item">
				<strong><%= User.find(card_version.whodunnit).first_name %></strong> added a new flashcard!
				(<%= time_ago_in_words(card_version.created_at).capitalize %> ago)
			</div>
			
		<% elsif (card_version.event == 'update') %>
		
			<div class="history_item">
				<strong><%= User.find(card_version.whodunnit).first_name %></strong> changed
				<%= history_diff(card_version.changeset) %>
				(<%= time_ago_in_words(card_version.created_at).capitalize %> ago)
			</div>
			
		<% else %>
		
			<div class="history_item">
				<strong><%= User.find(card_version.whodunnit).first_name %></strong> removed a flashcard.
				(<%= time_ago_in_words(card_version.created_at).capitalize %> ago)
			</div>
			
		<% end %>
			
		<!--
		<% if (card_version.event == 'update') %>
			<tr>
				<td></td>
				<td><%= @book.cards_side1 %></td>
				<td><%= @book.cards_side2 %></td>
			</tr>
			<tr>
				<td>Before</td>
				<td>
					<% if (card_version.changeset.has_key?('side1')) %>
						<%= card_version.changeset['side1'].first %>
					<% end %>
				</td>
				<td>
					<% if (card_version.changeset.has_key?('side2')) %>
						<%= card_version.changeset['side2'].first %>
					<% end %>
				</td>
			</tr>
			<tr>
				<td>After</td>
				<td>
					<% if (card_version.changeset.has_key?('side1')) %>
						<%= card_version.changeset['side1'].last %>
					<% end %>
				</td>
				<td>
					<% if (card_version.changeset.has_key?('side2')) %>
						<%= card_version.changeset['side2'].last %>
					<% end %>
				</td>
			</tr>
	  <% end %>
	 -->
  <% end %>
</table>