<h2><%= @chapter.title %></h2>

<% if @chapter.cards.empty? %>

	<h3>Flashcards</h3>
	<%= link_to 'Start by adding some cards', new_chapter_card_path(@chapter) %>
	
<% else %>
	
	
	<table id="quiz" border="0" cellspacing="5" cellpadding="5">
		<tr>
			<td></td>
			<td>
				<span id="current_position_counter">
					<span class="current">1</span> of <span class="count"><%= @cards.count %></span>
				</span>
			</td>
			<td></td>
		</tr>
		<tr>
			<td><a id="prev_card" href="#" title="Previous">&lt;</a></td>
			<td class="card"><%= @cards.first.side1 %></td>
			<td><a id="next_card" href="#" title="Next">&gt;</a></td>
		</tr>
	</table>
	
<% end %>

<script>
$(document).ready(function(){
	
	var current_card_index = 0;
	var current_side = 1;
	var cards = [];
	<% @cards.each do |card| %>
		var card = {
			side1: '<%= card.side1 %>',
			side2: '<%= card.side2 %>'
		};
		cards.push(card);
	<% end %>
	
	$('#prev_card').click(function(e){
		e.preventDefault();
		if (current_side == 2) {
			current_side = 1;
			var current_card = cards[current_card_index];
			var text = current_card.side1;
			$('#quiz .card').text(text);
			$("#quiz .card").flip({
				direction: 'lr',
				color: '#ffffff'
			});
		} else {
			current_side = 2;
			if (current_card_index == 0) {
				current_card_index = cards.length - 1;
			} else {
				current_card_index--;
			}
			var current_card = cards[current_card_index];
			var text = current_card.side2;
			$('#current_position_counter .current').text(current_card_index + 1);
			$('#quiz .card').fadeOut(function(){
				$('#quiz .card').text(text);
				$('#quiz .card').fadeIn();
			});
		}
	});
	
	$('#next_card').click(function(e){
		e.preventDefault();
		if (current_side == 1) {
			current_side = 2;
			var current_card = cards[current_card_index];
			var text = current_card.side2;
			$('#quiz .card').text(text);
			$("#quiz .card").flip({
				direction: 'rl',
				color: '#ffffff'
			});
		} else {
			current_side = 1;
			current_card_index++;
			if (current_card_index == cards.length) {
				current_card_index = 0;
			}
			var current_card = cards[current_card_index];
			var text = current_card.side1;
			$('#current_position_counter .current').text(current_card_index + 1);
			$('#quiz .card').fadeOut(function(){
				$('#quiz .card').text(text);
				$('#quiz .card').fadeIn();
			});
		}
	});
});
</script>