<h2><%= @chapter.title %><span class="action_link"><%= link_to 'Rename', edit_book_chapter_path(@book, @chapter) %></span></h2>

<%= link_to "Quiz Me!", quiz_me_url(@chapter), :id => 'quiz_me' %>

<% if @chapter.cards.empty? %>

	<h3>Flashcards</h3>
	<%= link_to 'Start by adding some cards', new_chapter_card_path(@chapter) %>

<% else %>

	<h3>Flashcards <span class="action_link"><%= link_to 'Add more cards', new_chapter_card_path(@chapter) %></span></h3>
	<table id="flashcards_list" cellspacing="0">
		<thead>
			<tr>
				<th><%= @book.cards_side1 %></th>
				<th><%= @book.cards_side2 %></th>
				<th width="100"></th>
			</tr>
		</thead>
		<tbody>
			<% @chapter.cards.each do |card| %>
				<tr>
					<td style="font-weight: bold"><%= card.side1 %></td>
					<td><%= card.side2 %></td>
					<td><span class="card_actions"><%= link_to 'Edit', edit_card_path(card) %> <%= link_to 'Delete', chapter_card_path(@chapter, card), :confirm => 'Are you sure?', :method => :delete %></span></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<!-- <a id="add_new_card" href="#">Add more cards</a> -->
	<div id="new_card_form" style="display:none">
	  <%= render "cards/form" %> 
	</div>

<% end %>

<h3>History</h3>
<%= link_to "View Full History", chapter_history_path(@chapter) %>
<ul id="chapter_history">
<% @card_versions.each do |card_version| %>
	<li>
		<%= time_ago_in_words(card_version.created_at).capitalize %> ago:
		<%= User.find(card_version.whodunnit).first_name %>
		<% if (card_version.event == 'create') %>
			added a new flashcard!
		<% elsif (card_version.event == 'update') %>
			updated an existing flashcard.
		<% else %>
			removed a flashcard.
		<% end %>
	</li>
<% end %>
</ul>

<script>
	$(document).ready(function(){
		$('#new_card_form').hide();
		$('#add_new_card').click(function(){
			$('#new_card_form').slideDown();
			return false;
		});
	});
</script>