<h2><%= @chapter.title %><span class="action_link"><%= link_to 'Rename', edit_book_chapter_path(@book, @chapter) %></span></h2>

<% if @chapter.cards.empty? %>

	<h3>Flashcards</h3>
	<%= link_to 'Start by adding some cards', new_chapter_card_path(@chapter) %>
	
<% else %>

	<% @cards = @chapter.cards %>
	
	<span id="current_position">
		<span class="current">1</span> of <span class="count"><%= @cards.count %></span>
	</span>
	<div id="big_flashcard">
		<%= @cards.first.side1 %>
	</div>
	
	<h3>Flashcards <span class="action_link"><%= link_to 'Add more cards', new_chapter_card_path(@chapter) %></span></h3>
	<table id="flashcards_list" cellspacing="0">
		<% @cards.each do |card| %>
			<tr>
				<td width="40%"><%= card.side1 %></td>
				<td width="40%"><%= card.side2 %></td>
			  <td><%= link_to 'Edit', edit_card_path(card) %> <%= link_to 'Delete', chapter_card_path(@chapter, card), :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
		<% end %>
	</table>
	
	<!-- <a id="add_new_card" href="#">Add more cards</a> -->
	<div id="new_card_form" style="display:none">
	  <%= render "cards/form" %> 
	</div>
	
<% end %>

<h3>History</h3>
Information goes here.

<script>
	$(document).ready(function(){
		$('#new_card_form').hide();
		$('#add_new_card').click(function(){
			$('#new_card_form').slideDown();
			return false;
		});
	});
</script>