<h2><%= @chapter.title %><span class="action_link"><%= link_to 'Rename', edit_book_chapter_path(@book, @chapter) %></span></h2>

<%= link_to "Quiz Me!", quiz_me_url(@chapter) %>

<% if @chapter.cards.empty? %>

	<h3>Flashcards</h3>
	<%= link_to 'Start by adding some cards', new_chapter_card_path(@chapter) %>

<% else %>

	<h3>Flashcards <span class="action_link"><%= link_to 'Add more cards', new_chapter_card_path(@chapter) %></span></h3>
	<table id="flashcards_list" cellspacing="0">
		<% @chapter.cards.each do |card| %>
			<tr>
				<td width="40%"><%= card.side1 %></td>
				<td width="40%"><%= card.side2 %></td>
			  <td><%= link_to 'Edit', edit_card_path(card) %> <%= link_to 'Delete', chapter_card_path(@chapter, card), :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
		<% end %>
	</table>

	<!-- <a id="add_new_card" href="#">Add more cards</a> -->
	<div id="new_card_form" style="display:none">
	  <%= render "cards/form" %> 
	</div>

<% end %>

<h3>History</h3>
Information goes here.

<script>
	$(document).ready(function(){
		$('#new_card_form').hide();
		$('#add_new_card').click(function(){
			$('#new_card_form').slideDown();
			return false;
		});
	});
</script>