<!DOCTYPE html>
<html>
<head>
  <title>WikiFlashcards</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "jquery-ui-custom-theme/jquery-ui-1.8.6.custom.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
  <div id="header-content">
    <h1><a href="/">WikiFlashcards</a></h1>
    <div id="auth-nav">
      <% if user_signed_in? %>
        <span class="email"><%= current_user.email %></span>
        <span class="sign-out"><%= link_to "Sign out", destroy_user_session_path %></span>
      <% else %>
		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
        <span class="sign-up"><%= link_to "Sign up", new_user_registration_path %></span> 
        or 
        <span class="sign-in"><%= link_to "Sign in", new_user_session_path %></span>
      <% end %>
    </div>
  </div>
</div>

<div id="content">
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>
