<!DOCTYPE html>
<html>
<head>
  <title>WikiFlashcards</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "jquery-ui-custom-theme/jquery-ui-1.8.6.custom.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" %>
  <%#= javascript_include_tag "jquery.min.js" %>
  <%#= javascript_include_tag "jquery-ui.min.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
  <div id="header_content">
  	
    <h1><a href="/">WikiFlashcards</a></h1>
    
    <% if user_signed_in? %>
	    <ul id="main_nav">
	    	<li><%= link_to "My Books", my_books_path %></li>
	    	<li><%= link_to "Search", search_path %></li>
	    </ul>
    <% end %>
    
    <div id="auth_nav">
      <% if user_signed_in? %>
        <span class="email"><%= current_user.email %></span>
        <span class="sign-out"><%= link_to "Sign out", destroy_user_session_path %></span>
      <% else %>
		<span class="sign-in-with-facebook"><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></span>
        <!--
        <span class="sign-up"><%= link_to "Sign up", new_user_registration_path %></span> 
        or 
        <span class="sign-in"><%= link_to "Sign in", new_user_session_path %></span>
        -->
      <% end %>
    </div>
    
  </div>
  <div style="clear: left"></div>
</div>

<div id="content">
	<% if notice %>
	  <p id="notice"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p id="alert"><%= alert %></p>
	<% end %>
  <%= yield %>
</div>

<div id="footer">
	<span style="float:right">
		<%= link_to 'About WikiFlashcards', about_path %>
	</span>
</div>
</body>
</html>
