<!DOCTYPE html>
<html>
<head>
  <title>WikiFlashcards</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "jquery-ui-custom-theme/jquery-ui-1.8.6.custom.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body id="books_layout">

<%= render 'layouts/header' %>

<%= render 'books/sidebar' %>

<div id="content">
	<% if notice %>
	  <p id="notice"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p id="alert"><%= alert %></p>
	<% end %>
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
